<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YAGURA</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/earlyaccess/nicomoji.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="area_page_container">
      <div class="stage_page_title">
        <img src="/image/splatoon3_title_logo.png" alt="タイトルの画像" />
      </div>
      <div class="yagura_page_first_sentence">
        <p>ガチヤグラ</p>
        <img src="/image/splatoon3_yagura_image.png" alt="ヤグラの画像" />
      </div>
      <div class="area_page_button_container">
        <a
          href="/yagura_input"
          class="choice_big_button choice_big_button_input"
          >にゅうりょく</a
        >
        <a
          href="/yagura_bankara"
          class="choice_big_button choice_big_button_bankara"
          >バンカラ<br />マッチ</a
        >
        <a href="/yagura_X" class="choice_big_button choice_big_button_Xmacchi"
          >Xマッチ</a
        >
      </div>
    </div>
    <a class="Esc_key_button_function" href="/">
      <img
        src="/image/Esc_key_back_button.png"
        alt="戻るボタン"
        class="Esc_key_back_button"
      />
    </a>
  </body>
</html>
