<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YAGURA</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/earlyaccess/nicomoji.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="stage_input_page_container">
      <div class="yagura_page_first_sentence">
        <img src="/image/splatoon3_title_logo.png" alt="タイトルの画像" />
        <p>ガチエリア</p>
        <img src="/image/splatoon3_yagura_image.png" alt="ヤグラの画像" />
      </div>
      <!--https://www.youtube.com/watch?v=NfW_5Y1RZQ4参照-->
      <div class="checkbox_container checkbox_container_bankara">
        <div class="checkbox_choice_item">
          <input
            type="checkbox"
            id="checkbox_bankara"
            class="checkbox_bankara"
          />
          <label for="checkbox_bankara">バンカラマッチ</label>
        </div>
        <div class="checkbox_choice_item">
          <input
            type="checkbox"
            id="checkbox_Xmacchi"
            class="checkbox_Xmacchi"
          />
          <label for="checkbox_Xmacchi">Xマッチ</label>
        </div>
      </div>

      <div class="win_lose_container">
        <div class="win_lose_number_form">
          <input
            type="number"
            id="win_number_of_times"
            name="win_number_of_times"
            min="0"
          />
        </div>
        <div class="win_lose_number_test">勝</div>
        <div class="win_lose_number_form">
          <input
            type="number"
            id="loss_number_of_times"
            name="loss_number_of_times"
            min="0"
          />
        </div>
        <div class="win_lose_number_test">敗</div>
        <div class="information_submit_button" id="information_submit_button">
          送信
        </div>
      </div>
      <div class="last_input_time_container">
        <h1>こんにちは、<%= userName %>さん！</h1>
        <div class="last_input_time">最終入力時刻:？？？？？</div>
      </div>
    </div>

    <script>
      /*チェックボックスのデータ*/
      const bankaraCheckbox = document.getElementById("checkbox_bankara");
      const xmacchiCheckbox = document.getElementById("checkbox_Xmacchi");
      /*勝ち、負けのデータ*/
      const winNumberInput = document.getElementById("win_number_of_times");
      const lossNumberInput = document.getElementById("loss_number_of_times");
      // チェックボックスの状態を表示する関数(デバッグ用)
      function logCheckboxState() {
        // チェックボックスの状態をコンソールに表示
        console.log("バンカラマッチ:", bankaraCheckbox.checked);
        console.log("Xマッチ:", xmacchiCheckbox.checked);
      }

      document
        .getElementById("information_submit_button")
        .addEventListener("click", SendSubmitInformation);

      // チェックボックスに一つだけチェックできるようにしておく
      function OneSideCheckBoxState(event) {
        if (bankaraCheckbox.checked && xmacchiCheckbox.checked) {
          if (event.target.id === "checkbox_bankara") {
            xmacchiCheckbox.checked = false;
          } else {
            bankaraCheckbox.checked = false;
          }
        }
      }

      // 片方だけチェックの呼び出し
      document
        .getElementById("checkbox_bankara")
        .addEventListener("change", OneSideCheckBoxState);

      document
        .getElementById("checkbox_Xmacchi")
        .addEventListener("change", OneSideCheckBoxState);

      function logWinLoseNumber() {
        // win_number_of_times と loss_number_of_times の input 要素を取得

        // 各 input 要素の値をコンソールに表示
        console.log(`勝: ${winNumberInput.value}`);
        console.log(`敗: ${lossNumberInput.value}`);
      }

      //送信を押した後の操作
      function SendSubmitInformation() {
        if (!bankaraCheckbox.checked && !xmacchiCheckbox.checked) {
          alert("バンカラマッチ,Xマッチのどちらかにチェックを入れてください");
        } else if (
          !isNonNegativeInteger(winNumberInput.value) ||
          !isNonNegativeInteger(lossNumberInput.value)
        ) {
          alert("0を含む自然数を入力してください");
        } else {
          logCheckboxState();
          logWinLoseNumber();
          //ここにはデータ入れるやつを準備する
          const userName_input = "<%= userName %>";
          let rule_input_sub = "";
          if (bankaraCheckbox.checked) {
            rule_input_sub = "yagura_bankara";
          }
          if (xmacchiCheckbox.checked) {
            rule_input_sub = "yagura_x";
          }
          const rule_input = rule_input_sub;
          const winNumber_input = winNumberInput.value;
          const lossNumber_input = lossNumberInput.value;
          const datetime_input = new Date()
            .toISOString()
            .slice(0, 19)
            .replace("T", " "); // 現在の時間をYYYY-MM-DD HH:MM:SS形式で取得
          alert("データベースに送信する予定");

          //データ入れるやつ
          fetch("/save-game-record", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              userName_input,
              rule_input,
              winNumber_input,
              lossNumber_input,
              datetime_input,
            }),
          })
            .then((response) => response.text())
            .then((data) => {
              console.log(data);
              alert("Record saved successfully");
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        }
      }

      // 自然数（0を含む）かどうかを確認する関数
      function isNonNegativeInteger(value) {
        const number = Number(value);
        return Number.isInteger(number) && number >= 0;
      }
    </script>
  </body>
</html>
